@import "../colors.scss";
.drivers__item {
  border-radius: 2px;
  background-color: white;
  list-style: none;
  padding: 0 16px 24px;
  display: inline-block;
  margin: 16px 24px;
  width: 200px;
  height: 440px;
  header {
    display: flex;
    padding: 16px 0;
    margin-bottom: 16px;
    border-bottom: 2px solid $dark-gray;
    color: $dark-gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    span {
      margin-left: auto;
      font-weight: 600;
      color: $red;
    }
  }

  &-row {
    img {
      height: 72px;
      width: 72px;
      border-radius: 50%;
    }

    h4 {
      color: $dark-gray;
      font-weight: 600;
      margin-bottom: 8px;
    }

    p {
      color: $text;
      font-weight: 600;
      margin-top: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

//tablet
@media only screen and (max-width: 768px) {
  .drivers__item {
    &-row {
      h4,
      p {
        font-size: 14px;
      }
    }
  }
}

//mobile
@media only screen and (max-width: 480px) {
  .drivers__item {
    display: block;
    margin: 16px auto;
    width: calc(100% - 72px);
    header {
      font-size: 14px;
    }
    &-row {
      h4,
      p {
        font-size: 14px;
      }
    }
  }
}
